.contact {
  background: linear-gradient(90.21deg, #AA367C 111.58%, #4A2FBD -5.91%);
  padding: 10px 0 20px 0;
  overflow: hidden;
}
.align-items-center{
  text-align: center;
  display: flex;
}
.contact h2 {
  text-align: center;
	font-size: 50px;
	font-weight: 800;
  margin-bottom: 30px;
}
.contact form {
  margin-left: 100px; /* Adjusting form position */
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}
/* Add media query for viewport width up to 768px */
@media (max-width: 768px) {
  .contact form {
    margin: 20px; /* Adjusting form position */
  }
  .contact .align-items-center {
    flex-direction: column;
    align-items: center; /* Centering items horizontally */
    text-align: center;
  }

  .contact .align-items-center > .col img {
    width: 80%; /* Adjusting image width */
    margin-bottom: 20px; /* Adding bottom margin to image for spacing */
  }

  .contact form {
    width: 80%; /* Adjusting form width */
    margin-top: 30px; /* Adding top margin to form for spacing */
  }

  .contact form input,
  .contact form textarea {
    width: 100%; /* Making form elements take full width */
    margin-bottom: 15px; /* Adjusting margin for form elements */
    box-sizing: border-box; /* Including padding and border in the width */
  }

  .contact form button {
    width: 50%; /* Making button take full width */
    margin-top: 15px; /* Adjusting top margin of the button */
    padding: 14px 24px; /* Adjusting button padding */
  }
}
